.item {
  width: 100%;
  height: auto;
  text-align: center;
  gap: 3rem;
}

.item:hover {
  border-bottom: 1px solid black;
}
.item p {
  margin: 6px 0px;
}

.image {
  width: 100%;
  height: 550px;
  margin: auto;
  object-fit: contain;
  filter: brightness(40%);
  transition: 0.6s;
  border-radius: 2rem;
  overflow: visible;
}

.image:hover {
  filter: brightness(100%);
  border-radius: 1rem;
  transition: 0.6s;
}

.item-price {
  display: flex;
  gap: 20px;
  text-align: center;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}






@media (max-width: 848px) {
    .item {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (max-width: 686px) {
    .item {
      width: 100%;
      flex-direction: column;
      margin-top: 16rem;
    }
  }
  
  @media (max-width: 977px) {
    .item {
      width: 100%;
      flex-wrap: wrap;
      gap: 3rem;
    }

    .image{
        overflow-y: scroll;
        flex-wrap: wrap;
    }
   
  }
  
  @media (max-width: 576px) {
    .item {
      display: flex;
      flex-wrap: wrap;
      width: 28rem;
      margin-left: -12rem;
    }
   
    .item p{
      width: 10rem;
      text-overflow: clip;
    }

    .item-prices{
      text-align: start;
    }
  }
  
  
  @media (max-width: 320px) {
    .item {
      display: flex;
      flex-wrap: wrap;
      width: 28rem;
      margin-left: -12rem;
    }
   
    .item p{
      width: 10rem;
      text-overflow: clip;
    }

    .item-prices{
      text-align: start;
    }

    
   
  }