.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    border-radius: 7rem;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-left: 15rem;
}

.carousel-container{
    border-radius: 7rem;
}


.Carousel.Item {
    border-radius: 7rem;   
}


@media (max-width: 848px) {
    .popular {
      width: 100%;
      padding: 10px 20px;
      flex-direction: column;
    }
  }
  
  @media (max-width: 686px) {
    .popular {
      width: 100%;
      padding: 10px 20px;
      flex-direction: column;
      margin-left: auto;
    }
  }
  
  @media (max-width: 977px) {
    .popular {
      width: 72rem;
      padding: 10px 20px;
    }
  }
  
  @media (max-width: 576px) {
    .popular {
      width: 72.2rem;
      padding: 5px 10px;
      flex-direction: column;
    }
   
  }
  
  
  @media (max-width: 320px) {
    .hero {
      width: 72.2rem;
      padding: 5px 10px;
      flex-direction: column;
    }
   
  }